# created by virtualenv automatically
# Ignore virtual environment
bin/
lib/
pyvenv.cfg

# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore .whl package files
*.whl

# IDE/Editor-specific files
.vscode/
.idea/

# macOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db

